<h2>Create A New Album</h2>

<% if @album.errors.any? %>

  <ul>

    <% @album.errors.full_messages.each do |msg| %>

      <li><%= msg %></li>

    <% end %>

  </ul>

<% end %>

<%= render 'form', form_url: albums_url %>