<main>

	<header>
		<%= tag.h1 "Browse Courses:", class: 'title' %>
	</header>

	<section class='list'>
		<% if @courses.empty? %>
			<%= tag.p "No courses have been listed.", class: 'notice' %>
		<% else %>
			<% @courses.each do |course| %>
				<%= link_to course.name, course_path(course.slug), class: "#{ (course.complete?) ? "complete" : "incomplete" } course" %>
			<% end %>
		<% end %>
	</section>

</main>