<%= tag.h1 @course.name %>

<hr>

<%= tag.h2 "Projects:" %>

<% if @projects.empty? %>
	<%= tag.h3 "No projects have been listed for this course" %>
<% else %>
	<% @projects.each do |project| %>
		<h3><%= link_to project.name, course_project_path(@course, project) %></h3>
	<% end %>
<% end %>